<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <appSettings>
    <add key="username" value="pippo"/>
    <add key="columnGroup" value="Custom Group Column"/>
    <add key="columnName" value="Process"/>
    <add key="username" value="pippo"/>
  </appSettings>
</configuration>