<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<script src="/kpeople-page-theme/js/jquery-1.4.2.min.js"></script>
	<script src="/kpeople-page-theme/js/jquery-ui-1.8.10.custom.min.js"></script>
	<script src="/kpeople-page-theme/js/main.js"></script>
	<link href="/kpeople-page-theme/css/jquery-ui-1.8.10-.custom.css" rel="stylesheet" type="text/css"/>
	
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)
	
	<link id="stampa" href="/kpeople-page-theme/css/printCSS.css"  rel="stylesheet" type="text/css" title="PrintPage" media="print"/>
	
</head>

<body class="$css_class">

$theme.include($top_messages_include)

#if ($permissionChecker.isOmniadmin() || $permissionChecker.isCommunityAdmin( $portletGroupId ))
		
			
				#dockbar()

		#end
		
<div id="wrapper">


	<div id="banner">
		<div id="logo-header" onclick="javascript:document.location='/web/guest/homepage'"></div>	

		
		
		<div id="menu-header-navigation">
			#if ($has_navigation)
				#parse ("$full_templates_path/navigation.vm")
			#end
		</div>
		
		<div id="header-login">$theme.runtime("58")</div>
		<div id="header-lng">$theme.runtime("82")</div>
			
		

		#if ($update_available_url)
			<div class="popup-alert-notice">
				<a class="update-available" href="$update_available_url">#language ("updates-are-available-for-liferay")</a>
			</div>
		#end
	</div>
	<div style="clear:both"></div>

	<div class="kpeople-navigation">$theme.runtime("73") </div>


	#if ($selectable)
		$theme.include($content_include)
	#else
		$portletDisplay.recycle()

		$portletDisplay.setTitle($the_title)

		$theme.wrapPortlet("portlet.vm", $content_include)
	#end

	<div id="footer">
	  #parse ("$full_templates_path/footer.vm")
	</div>
</div>

</body>

$theme.include($bottom_include)

</html>