#Contains the information about the axis2 service generation information from the eclipse workspace
#Thu Jan 13 10:43:55 CET 2011
Class-name=it.webscience.kpeople.service.cross.MailService
Type=FROM_CLASS
Service-name=MailServiceV1
Projects=CarbonApp
