#Contains the information about the axis2 service generation information from the eclipse workspace
#Tue Jan 18 16:41:22 CET 2011
Class-name=it.webscience.kpeople.service.document.DocumentService
Type=FROM_CLASS
Service-name=DocumentServiceV1
Projects=CarbonApp
