<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProcessMetadataServiceSoap11Binding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ProcessMetadataServiceSoap11Binding1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="ProcessMetadataServiceSoap12Binding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://services.kpeople.webscience.it/services/ProcessServiceProxy"
        binding="basicHttpBinding" bindingConfiguration="ProcessMetadataServiceSoap11Binding"
        contract="ProcessMetadataService.ProcessMetadataServicePortType"
        name="ProcessMetadataServiceHttpSoap11Endpoint" />
      <endpoint address="https://services.kpeople.webscience.it/services/ProcessServiceProxy"
        binding="basicHttpBinding" bindingConfiguration="ProcessMetadataServiceSoap11Binding1"
        contract="ProcessMetadataService.ProcessMetadataServicePortType"
        name="ProcessMetadataServiceHttpsSoap11Endpoint" />
      <endpoint address="http://services.kpeople.webscience.it/services/ProcessServiceProxy"
        binding="customBinding" bindingConfiguration="ProcessMetadataServiceSoap12Binding"
        contract="ProcessMetadataService.ProcessMetadataServicePortType"
        name="ProcessMetadataServiceHttpSoap12Endpoint" />
      <endpoint address="https://services.kpeople.webscience.it/services/ProcessServiceProxy"
        binding="customBinding" bindingConfiguration="ProcessMetadataServiceSoap12Binding"
        contract="ProcessMetadataService.ProcessMetadataServicePortType"
        name="ProcessMetadataServiceHttpsSoap12Endpoint" />
    </client>
  </system.serviceModel>
  <appSettings>

    <add key="attachmentName" value="KPeople.xml" />
    <add key="username" value="andrea" />

    <add key="sDisplayName" value="KPeople" />
    <add key="extension" value=".xml" />
    <add key="fileName" value="metadataSet" />

    <add key="kpDomain" value="kpeople.webscience.it" />
    <add key="timeoutInMinutes" value="15" />

    <add key="mailCCN" value="trace@kpeople.webscience.it" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>