<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>PortletActionServlet</servlet-name>
		<servlet-class>com.liferay.util.bridges.struts.LiferayPortletServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>PortletActionServlet</servlet-name>
		<url-pattern>/portlet_action/*</url-pattern>
	</servlet-mapping>
	
	<taglib>
		<taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
		<taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://webscience.it/tld/ui</taglib-uri>
		<taglib-location>/WEB-INF/tld/webscience-ui.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://liferay.com/tld/portlet</taglib-uri>
		<taglib-location>/WEB-INF/tld/liferay-portlet-ext.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://liferay.com/tld/security</taglib-uri>
		<taglib-location>/WEB-INF/tld/liferay-security.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://liferay.com/tld/theme</taglib-uri>
		<taglib-location>/WEB-INF/tld/liferay-theme.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://liferay.com/tld/ui</taglib-uri>
		<taglib-location>/WEB-INF/tld/liferay-ui.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://liferay.com/tld/util</taglib-uri>
		<taglib-location>/WEB-INF/tld/liferay-util.tld</taglib-location>
	</taglib>
		
	<taglib>
		<taglib-uri>http://struts.apache.org/tags-bean</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://struts.apache.org/tags-logic</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://struts.apache.org/tags-nested</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://struts.apache.org/tags-tiles</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
	</taglib>
</web-app>