#Contains the information about the axis2 service generation information from the eclipse workspace
#Tue Jan 18 16:41:22 CET 2011
Class-name=it.webscience.kpeople.service.cross.UserService
Type=FROM_CLASS
Service-name=UserServiceV1
Projects=CarbonApp
